/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-inner {
  width: 90%;
  margin: 0 auto 100px;
}

.site-ttl {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.head {
  margin-bottom: 90px;
}

.head__inner {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.head__logo {
  width: 114px;
}

@media only screen and (min-width: 1000px) {
  .head__inner {
    max-width: 960px;
  }
}

.nav__btn {
  display: none;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  font-weight: 700;
}

.nav__wrap.open {
  display: block;
}

.nav__wrap.close {
  display: none;
}

@media screen and (min-width: 481px) {
  .nav__wrap {
    display: block !important;
    background-color: unset;
  }
}

@media screen and (max-width: 480px) {
  .nav__btn {
    display: block;
    cursor: pointer;
  }
  .nav__wrap {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
  .nav__wrap .nav {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .nav__wrap li {
    display: block;
    margin: 3em;
  }
  .nav__wrap li a {
    color: #fff;
    font-size: 18px;
  }
  .nav__btn,
  .nav__btn span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .nav__btn {
    z-index: 20;
    position: relative;
    width: 40px;
    height: 36px;
  }
  .nav__btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #004c8f;
    border-radius: 4px;
  }
  .nav__btn span:nth-of-type(1) {
    top: 0;
  }
  .nav__btn span:nth-of-type(2) {
    top: 16px;
  }
  .nav__btn span:nth-of-type(3) {
    bottom: 0;
  }
  .nav__btn.active span:nth-of-type(1) {
    -webkit-transform: translateY(16px) rotate(-45deg);
            transform: translateY(16px) rotate(-45deg);
  }
  .nav__btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .nav__btn.active span:nth-of-type(3) {
    -webkit-transform: translateY(-16px) rotate(45deg);
            transform: translateY(-16px) rotate(45deg);
  }
}

@-webkit-keyframes wave {
  100% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
}

@keyframes wave {
  100% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
}

.wave span {
  display: inline-block;
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
  .wave span {
    color: black;
  }
}

.wave:hover span {
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.wave:hover span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.wave:hover span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.wave:hover span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.wave:hover span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wave:hover span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.about {
  margin-bottom: 90px;
}

.about__inner {
  width: 90%;
  margin: 0 auto;
}

.about__content {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.about p {
  margin-left: 20px;
}

@media only screen and (min-width: 1000px) {
  .about__inner {
    max-width: 960px;
  }
  .about img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }
}

.accordion {
  position: relative;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;
}

.accordion__ttl {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  font-size: 1.25em;
  font-weight: normal;
  cursor: pointer;
}

.accordion__ttl::after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #004c8f;
  border-right: solid 2px #004c8f;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion__ttl.open::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.accordion__content {
  display: none;
  padding-left: 2.3125em;
}

.accordion__content p {
  margin-bottom: 15px;
  line-height: 1.4;
  text-align: justify;
}

.accordion__content strong {
  margin-bottom: 5px;
  display: inline-block;
}

.accordion__content ul {
  margin-left: 20px;
}

.accordion__content li {
  list-style: inside;
  margin-bottom: 5px;
}

.accordion__content li:last-child {
  margin-bottom: 0px;
}

.skill {
  margin-bottom: 90px;
}

.skill__inner {
  width: 90%;
  margin: 0 auto;
}

.skill__desc {
  margin-bottom: 30px;
}

.skill__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill__card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.skill__card p {
  text-align: center;
  margin-top: 10px;
}

.skill__card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.skill-img {
  position: relative;
  padding-top: 56.25%;
}

.skill-img img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (min-width: 1000px) {
  .skill__inner {
    max-width: 960px;
  }
}

.project {
  margin-bottom: 90px;
}

.project__inner {
  width: 90%;
  margin: 0 auto;
}

.project p {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1000px) {
  .project__inner {
    max-width: 960px;
  }
}

.swiper-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ddd;
  color: #334747;
  font-size: 15px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.icon__box {
  margin-right: 10px;
}

.icon__box a {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon__box a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon img {
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 1000px) {
  .icon {
    margin-bottom: 0px;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 50px;
  }
  .icon__box {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 350ms ease-in;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.modal__detail h3 {
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #004c8f;
  padding-bottom: 5px;
}

.modal__box {
  margin-bottom: 15px;
}

.modal__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.modal__sub {
  font-weight: 700;
  margin-bottom: 20px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #004c8f;
  padding-bottom: 5px;
}

.modal__ttl::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/link.svg);
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

.modal__concept::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/document.svg);
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

.modal__time::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/time.svg);
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

.modal__lang::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/lang.svg);
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

.modal__point::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/point.svg);
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

.modal__sub::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/img.svg);
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */