.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  &__box {
    margin-right: 10px;

    a {
      display: block;
      transition: all 0.3s;
    }

    a:hover {
      opacity: 0.5;
      transition: all 0.3s;
    }
  }

  img {
    width: 40px;
    height: 40px;
  }

  @include large {
    margin-bottom: 0px;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 50px;

    &__box {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
}
